h1 Q-Wiki-Pedia
a(href='https://en.wikipedia.org/wiki/Special:Random' target='_blank')
	button.button(title='Random Article')
input.search(type='text', name='wikipedia')
.footer
	| by &nbsp;
	strong
		i Karthik &nbsp;
	| for &nbsp;
	strong Freecodecamp
